/* ----------------------------
            RESET
------------------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------
            HEADER
------------------------------ */

.header-top .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-top{
    background-color: #add8e6;
    padding: 15px 0;
}

/* header top */

.header-top .container{
    display: flex;
    background-color: #daa520;
}

.header-top .container > *{
    border: 1px dashed black;
    padding: 2px 15px;
}

.header-top .logo, .header-top .login{
    width: 20%;
    
}

.header-top .login{
    text-align: right;
}


.header-top nav{
    flex-grow: 1;
    text-align: center;
}

/* header nottom */

.header-bottom .container{
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ee82ee;
    border: 1px dashed black;
    
    
}

.header-bottom{
    background-color: #00008b;
    padding: 50px 0;
}

/* ----------------------------
            MAIN
------------------------------ */

/* section 1 */
section{
    padding: 50px 0;
}

section .container{
    width: 1200px;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    
}

.col-big{
    width: 66%;
    height: auto;
    background-color: #1e90ff;
    border: 1px dashed black
}

.col-small{
    width: 34%;
    height: auto;
    background-color: #ffc0cb;
    border: 1px dashed black
}

.even{
    background-color: #ffffff;
}

.odd{
    background-color: #d3d3d3;
}

#last-section .container{
    width: 1200px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #228b22;
    border: 1px dashed black;
}

/* ----------------------------
            FOOTER
------------------------------ */
footer{
    background-color: #23272a;
}

hr{
    background-color: white;
}

/* footer top */

.footer-top{
    padding-top: 10px;
    padding-bottom: 40px;
}

.footer-top .container{
    width: 1200px;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.col-bigger{
    background-color: #f08080;
    flex-grow: 1;
    border: 1px dashed black;
}

.col-smaller{
    background-color: #20b2aa;
    width: 20%;
    border: 1px dashed white;
}

/* footer bottom */

.footer-bottom{
    padding-top: 30px;
}

.footer-bottom .container{
    background-color: #7fffd4;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-bottom .container > *{
    background-color: #ffc0cb;
    padding: 5px;
    border: 1px dashed black;
    font-size: 20px;
}



